.cargarI {
    width: auto;
    height: 56rem;
    border: 8px solid grey;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;

    
}

.tituloTarea {
    font-size: 35px;
    font-weight: 600;
}

.label{
    width: 80%;
    height: 4rem;
    border: 2px solid rgb(109, 103, 103);
    padding: 6px;

    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    
    gap: 10px;
}

.laLista {
    width: auto;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.label input {
    width: 1.5rem;
    height: 1.5rem;
}

.label .tituloTarea {
    font-weight: 500;
    font-size: 17px;
    color: black;
    margin: 0;
}