/* Estilos comunes para los formularios */
.login-container, .registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-form, .registro-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form input, .registro-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button, .registro-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover, .registro-form button:hover {
    background-color: #45a049;
}

.login-form a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}
